/EclipseAntProject/AELCelloscopeOCR/bin
/EclipseAntProject/AELCelloscopeOCR/.settings
/EclipseAntProject/AELCelloscopeOCR/gen
/EclipseAntProject/AELCelloscopeOCR/.classpath
/EclipseAntProject/AELCelloscopeOCR/.project